a {
    text-decoration: none;
}

.title_nice{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.textEnd {
    text-align: center;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;

    .retourLogin {
        color: #05A3FA;
    }
    .retourLogin:hover{
        color: rgb(108, 108, 253);
    }

}