<div class="pageConnexion">

    <!-- <div class="imgBgContainer"> -->

        <img src="/assets/images/connexion/Background-Image-Connexion.png" class="imgBgConnexion" alt="vue d'un bateau et d'un phare">

    <!-- </div> -->

    <div class="containerRight">
        <div class="containerRightContent">

            <div class="blocUpLeft">
                <img src="/assets/images/connexion/Avatar-UI-Unicorn-V2.png" width="48px" height="48px"  alt="logo avatar">
                <h2>UI Unicorn</h2>
            </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
