<div class="pageConnexion">

    <!-- <div class="imgBgContainer"> -->

        <img src="/assets/images/connexion/Background-Image-Connexion.png" class="imgBgConnexion" alt="vue d'un bateau et d'un phare">

    <!-- </div> -->

    <div class="containerRight">

            <div class="blocUpLeft">

                <img src="/assets/images/connexion/Avatar-UI-Unicorn-V2.png" width="48px" height="48px"  alt="logo avatar">
                <h2>UI Unicorn</h2>
            </div>

           

            <p class="title_nice">Nice to see you again</p>
            
            <form action="post" class="formFrame">

                <app-input label="Email" type="email" id="email" name="email" placeholder="Email or phone number">
                </app-input>
                
                <app-input label="Password" type="password" id="password" name="email" placeholder="Enter password">
                </app-input>


                <div class="inputs">

                    <label for="name" class="form-label">Password</label>
                    <input type="password" id="password" name="password"  placeholder="Enter password">
                </div>  

                <div class="endForm">
                    <div class="checkbox">
                        <input type="checkbox" id="toggle" name="rememberMe">
                        <label for="name" class="label-remember">Remember me</label>
                    </div> 

                    <p class="forgotPassword">
                    Forgot password ?
                    </p>
                </div>

                <button type="submit" class="btnBlue">Sign in</button>   
            </form>

            <button type="submit" class="btnGoogle">
                <img src="/assets/images/connexion/google-icon-logo.png" alt="logo google" width="15px" height="15px">
                Or sign with Google
            </button> 
            
            <div class="textEnd">
                <p class="textLeft">Don't have an account ?</p>
                <p class="textRight">Sign up now</p>
            </div>
        <!-- </div> -->
    </div>
</div>
