<div class="pageConnexion">

    <!-- <div class="imgBgContainer"> -->

    
    <!-- <div class="imgBgConnexion"> -->
    <!-- <img src="/assets/images/connexion/backgroundBeautiful.jpg" class="imgBgConnexion" alt="vue d'un bateau et d'un phare"> -->
    <img src="/assets/images/connexion/hexagonViolet.jpg" class="imgBgConnexion" alt="des hexagones bleu-violet sur fond gris foncé">
        <!-- <img src="/assets/images/connexion/background-Image-Connexion.png" class="imgBgConnexion" alt="vue d'un bateau et d'un phare"> -->
    <!-- </div> -->

    <!-- </div> -->

    <div class="containerRight">

            <div class="blocUpLeft">
                <img src="/assets/images/connexion/logoOCTOM.png" alt="logo Octom">
                <h2>OCTOM.</h2>
            </div>

            <div class="containerRightContent">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
