@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.btnBlue {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        height: 35px;
        background: #007AFF;
        border-radius: 6px;
        color: white;
        cursor: pointer;
}

.btnBlue:hover{
        background: blue;
}