@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.btn {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        height: 35px;
        border-radius: 6px;
        color: white;
        cursor: pointer;

        &.btnPrimary{

                background: #007AFF;

                &:hover{
                        background: blue;
                }

        }
        
}

