<p class="title_nice">Inscrivez-vous</p>
            
<form action="post" class="formFrame">

    <app-input label="Email" type="email" id="email" name="email" placeholder="Email or phone number">
    </app-input>
    
    <app-input label="Password" type="password" id="password" name="password" placeholder="Enter password">
    </app-input>

    <app-input label="Confirm Password" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
    </app-input>

    <app-button className="btnPrimary" nameBtn="Sign up"></app-button>  
</form>

<div class="textEnd">
    <p class="textLeft">Already an account ?</p>
    <a  routerLink="/login" class="signInNow">Sign in now</a>
</div>